.form {
  display:flex;
  flex-direction: column;
  margin:5px;
}
.container{
  margin: 0 auto;
  margin-bottom: 6%;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
  background-color: #484D5C;
  border-color: red;
  width: 95%;
  height: 80%;
  border-radius : 15px;

  
}
.title{
  text-align: center;
  color: #FFCE01;
  margin-left: 5%;
  font-family: 'Abril Fatface', serif;
  font-weight: 900;
  font-size: 200%;
  margin-top: 5%;
  padding-top: 5%;
}
.input{
  background-color: white;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10%;

}
.form{
  border-radius: 20%;
}
.field{
  width: 150%;
  margin-left: -15%;

}
.buttonNext{
  width: 20%;
  float: right;
  margin-left: 0;
  margin-right: 0;}
.buttonPrevious{
  width: 20%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.toggle{
  margin-left: 35%;
  margin-bottom: 5%;
}

.next{
  margin-left: 0;
}
.buttonStep1{
  margin-left: 35%;
  margin-top: 20%;
  width: 150%; 
}
.btn-step1{
  width: 20%;
}

.finalPrevious{
  margin-left: 30%;
  margin-top : 10%;
}
.buttonFinalPrevious{
  width: 180px;

}

